*.iml
.gradle
/.kotlin
/app/release
/app/src/debug
/app/src/release
/app/src/profile
/app/reports
/app/outputs
/app/.cxx
/app/.externalNativeBuild
/app/captures
/app/.transforms
/app/.idea
/local.properties
/release-signing.properties
/.claude
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/AndroidProjectSystem.xml
/.idea/deviceManager.xml
/.idea/markdown.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/changelog-notes
/.idea/appInsightsSettings.xml
